.ft-logo{
    height: 60px ;
    padding: 10px;
}

.ft-button
{
    background-color: #c5a96c;
    padding: 20px;
    text-decoration: none;
    color: #000;
}

.ft-button:hover
{
    background-color: #333333;
    padding: 20px;
    text-decoration: none;
    color: #ffffff;
}
.hamburger-menu
{
    padding: 20px;
}